<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wn.mapper.ProductinfoMapper">
  <resultMap id="BaseResultMap" type="com.wn.entity.Productinfo">
    <id column="produtc_id" jdbcType="VARCHAR" property="produtcId" />
    <result column="produtc_name" jdbcType="VARCHAR" property="produtcName" />
    <result column="produtc_price" jdbcType="DECIMAL" property="produtcPrice" />
    <result column="produtc_stock" jdbcType="INTEGER" property="produtcStock" />
    <result column="product_description" jdbcType="VARCHAR" property="productDescription" />
    <result column="product_icon" jdbcType="VARCHAR" property="productIcon" />
    <result column="category_type" jdbcType="INTEGER" property="categoryType" />
    <result column="creat_time" jdbcType="TIMESTAMP" property="creatTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    produtc_id, produtc_name, produtc_price, produtc_stock, product_description, product_icon, 
    category_type, creat_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.wn.entity.ProductinfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from product_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from product_info
    where produtc_id = #{produtcId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from product_info
    where produtc_id = #{produtcId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.wn.entity.ProductinfoExample">
    delete from product_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wn.entity.Productinfo">
    insert into product_info (produtc_id, produtc_name, produtc_price, 
      produtc_stock, product_description, product_icon, 
      category_type, creat_time, update_time
      )
    values (#{produtcId,jdbcType=VARCHAR}, #{produtcName,jdbcType=VARCHAR}, #{produtcPrice,jdbcType=DECIMAL}, 
      #{produtcStock,jdbcType=INTEGER}, #{productDescription,jdbcType=VARCHAR}, #{productIcon,jdbcType=VARCHAR}, 
      #{categoryType,jdbcType=INTEGER}, #{creatTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wn.entity.Productinfo">
    insert into product_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="produtcId != null">
        produtc_id,
      </if>
      <if test="produtcName != null">
        produtc_name,
      </if>
      <if test="produtcPrice != null">
        produtc_price,
      </if>
      <if test="produtcStock != null">
        produtc_stock,
      </if>
      <if test="productDescription != null">
        product_description,
      </if>
      <if test="productIcon != null">
        product_icon,
      </if>
      <if test="categoryType != null">
        category_type,
      </if>
      <if test="creatTime != null">
        creat_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="produtcId != null">
        #{produtcId,jdbcType=VARCHAR},
      </if>
      <if test="produtcName != null">
        #{produtcName,jdbcType=VARCHAR},
      </if>
      <if test="produtcPrice != null">
        #{produtcPrice,jdbcType=DECIMAL},
      </if>
      <if test="produtcStock != null">
        #{produtcStock,jdbcType=INTEGER},
      </if>
      <if test="productDescription != null">
        #{productDescription,jdbcType=VARCHAR},
      </if>
      <if test="productIcon != null">
        #{productIcon,jdbcType=VARCHAR},
      </if>
      <if test="categoryType != null">
        #{categoryType,jdbcType=INTEGER},
      </if>
      <if test="creatTime != null">
        #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wn.entity.ProductinfoExample" resultType="java.lang.Long">
    select count(*) from product_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update product_info
    <set>
      <if test="record.produtcId != null">
        produtc_id = #{record.produtcId,jdbcType=VARCHAR},
      </if>
      <if test="record.produtcName != null">
        produtc_name = #{record.produtcName,jdbcType=VARCHAR},
      </if>
      <if test="record.produtcPrice != null">
        produtc_price = #{record.produtcPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.produtcStock != null">
        produtc_stock = #{record.produtcStock,jdbcType=INTEGER},
      </if>
      <if test="record.productDescription != null">
        product_description = #{record.productDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.productIcon != null">
        product_icon = #{record.productIcon,jdbcType=VARCHAR},
      </if>
      <if test="record.categoryType != null">
        category_type = #{record.categoryType,jdbcType=INTEGER},
      </if>
      <if test="record.creatTime != null">
        creat_time = #{record.creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update product_info
    set produtc_id = #{record.produtcId,jdbcType=VARCHAR},
      produtc_name = #{record.produtcName,jdbcType=VARCHAR},
      produtc_price = #{record.produtcPrice,jdbcType=DECIMAL},
      produtc_stock = #{record.produtcStock,jdbcType=INTEGER},
      product_description = #{record.productDescription,jdbcType=VARCHAR},
      product_icon = #{record.productIcon,jdbcType=VARCHAR},
      category_type = #{record.categoryType,jdbcType=INTEGER},
      creat_time = #{record.creatTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wn.entity.Productinfo">
    update product_info
    <set>
      <if test="produtcName != null">
        produtc_name = #{produtcName,jdbcType=VARCHAR},
      </if>
      <if test="produtcPrice != null">
        produtc_price = #{produtcPrice,jdbcType=DECIMAL},
      </if>
      <if test="produtcStock != null">
        produtc_stock = #{produtcStock,jdbcType=INTEGER},
      </if>
      <if test="productDescription != null">
        product_description = #{productDescription,jdbcType=VARCHAR},
      </if>
      <if test="productIcon != null">
        product_icon = #{productIcon,jdbcType=VARCHAR},
      </if>
      <if test="categoryType != null">
        category_type = #{categoryType,jdbcType=INTEGER},
      </if>
      <if test="creatTime != null">
        creat_time = #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where produtc_id = #{produtcId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wn.entity.Productinfo">
    update product_info
    set produtc_name = #{produtcName,jdbcType=VARCHAR},
      produtc_price = #{produtcPrice,jdbcType=DECIMAL},
      produtc_stock = #{produtcStock,jdbcType=INTEGER},
      product_description = #{productDescription,jdbcType=VARCHAR},
      product_icon = #{productIcon,jdbcType=VARCHAR},
      category_type = #{categoryType,jdbcType=INTEGER},
      creat_time = #{creatTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where produtc_id = #{produtcId,jdbcType=VARCHAR}
  </update>
</mapper>